.marker:active,
.marker:hover {
  background-color: green;
}

.marker {
  z-index: 1000;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
}

.trader {
  z-index: 1100;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 100%;
}

.selected {
  z-index: 1400;
  background-color: green;
}
